/* header.component.css */

.header {
 
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .nav-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  
  .icon{
    width: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links a:hover, 
  .bi:hover {
      color: #ffdd57;
  }