<section class="footer" >
<div class="adress">
    <h3>Nosso Endereço</h3>
    <p>Rua das Flores<br>Nº 123<br> Bairro Primavera
    <br>Cidade Sol <br> Estado Luz <br> CEP 12345-678</p>
    
    <h3>Contatos:</h3>
    <p><i class="bi bi-telephone-fill"></i> :  <a href="tel:+5511987654321">(11) 98765-4321</a></p>
    <p><i class="bi bi-whatsapp"></i> :  <a href="https://wa.me/5511987654321" target="_blank">(11) 98765-4321</a></p>

</div>
   <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61405.08871641664!2d-48.00335925019191!3d-15.866157755964657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2f1d07d10b2f%3A0xa0a2940c822db98c!2sOrdem%20dos%20Advogados%20do%20Brasil%20no%20Distrito%20Federal%20-%20N%C3%BAcleo%20Bandeirante!5e0!3m2!1spt-BR!2sbr!4v1732124005448!5m2!1spt-BR!2sbr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

   </div>

</section>
<p>Todos os diretos reservados &#174; magic org</p>