<!-- carousel.component.html -->
<div class="carousel">
    <div class="carousel-slide">
        <div class="carousel-item">
            <img src="assets/slide1.jpg" alt="Imagem 1" />
            <div class="carousel-text">
                <h3> Agende sua consulta agora!</h3>
                <p>Defendemos os seus direitos com excelência e dedicação! Com vasta experiência no tribunal.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/slide2.jpg" alt="Imagem 2" />
            <div class="carousel-text">
                <h3>Temos vasta experiência no tribunal</h3>
                <p>Entre em contato conosco hoje e proteja o que é seu por direito.</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/slide3.jpg" alt="Imagem 3" />
            <div class="carousel-text">
                <h3>Nossa equipe de advogados</h3>
                <p>Encontre a segurança e a clareza jurídica que você merece.</p>
            </div>
        </div>

        
    </div>
</div>

