<!-- about-us.component.html -->
<section class="about-us" id="sobre-nos">
    <h2>Sobre Nós</h2>
    <figure class="foto_quem">
      <img src="assets/ADV1.jpeg" alt="Advogado">
    </figure>
    <p>Com mais de 20 anos de experiência, nossa advocacia está comprometida em oferecer soluções 
      jurídicas eficazes e personalizadas para nossos clientes. Nosso objetivo é fornecer suporte 
      jurídico com excelência e ética, protegendo os interesses e os direitos de nossos clientes.
    </p>
    <figure>
      <img src="assets/ADV3.jpg" alt="Advogado">
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ducimus repudiandae eos provident harum voluptatibus at reprehenderit laborum voluptate molestiae consequatur dignissimos sit illum dolore, eaque deserunt perspiciatis ad. Voluptatem.
    Ipsam, fugiat eaque tempore maiores voluptatibus praesentium dolorem magnam expedita deserunt? Ullam, minima voluptatem eveniet odit unde laborum hic consequatur voluptate veritatis et enim, optio veniam aut facilis vitae corporis.
    Nobis in autem libero maxime inventore, iure quibusdam quo nihil labore. Similique ea quam iusto? Libero fuga voluptate sapiente, hic mollitia at commodi quidem deleniti, nihil vel eveniet omnis eligendi!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, odio! Libero labore suscipit illum repellendus harum, impedit magnam maxime vitae, cum temporibus voluptatem hic et nam adipisci laborum sed voluptate?</p>
  </section>
  